<section id="achievements" class="achievements">
  <div class="achievements__container">
    <header class="achievements__header">
      <h2 class="achievements__title">{{ content.title }}</h2>
      <div class="achievements__accent"></div>
      <p class="achievements__subtitle">{{ content.subtitle }}</p>
    </header>

    <div class="achievements__grid">
      @for (item of content.items; track item.title) {
        <app-achievement-card [item]="item"></app-achievement-card>
      }
    </div>

    <div class="ongoing">
      <h3 class="ongoing__title">{{ content.ongoing.title }}</h3>

      <ul class="ongoing__list">
        @for (item of content.ongoing.items; track item) {
          <li class="ongoing__item">{{ item }}</li>
        }
      </ul>
    </div>

    <div class="achievements__actions">
      <a class="achievements__readmore" [routerLink]="['/realizari']">
        {{ content.readMoreLabel }}
        <i class="pi pi-arrow-right"></i>
      </a>
    </div>
  </div>
</section>
