<article class="member">
  <h4 class="member__name">{{ member.name }}</h4>
  <p class="member__role">{{ member.role }}</p>

  @if (member.description) {
    <p class="member__desc">{{ member.description }}</p>
  }

  @if (member.email) {
    <div class="member__email">
      <i class="pi pi-envelope member__icon"></i>
      <a
        class="member__link"
        [href]="'mailto:' + member.email + '?subject=Contact%20Primărie'"
      >
        {{ member.email }}
      </a>
    </div>
  }
</article>
